venv
.vscode
data
valhalla/scripts/valhalla_tiles.tar
valhalla/scripts/valhalla_tiles/timezones.sqlite
.env
data
graphhopper/client-hc/target
graphhopper/core/target
graphhopper/data/default-gh
graphhopper/graph-cache
graphhopper/logs
graphhopper/map-matching/target
graphhopper/navigation/target
graphhopper/reader-gtfs/target
graphhopper/tools/target
graphhopper/web/target
graphhopper/web-api/target
graphhopper/web-bundle/node
graphhopper/web-bundle/target
graphhopper/*.osm.pbf
iris/logs
iris/target
osrm-backend/data
osrm-backend/test/data
valhalla/build
valhalla/scripts/valhalla_tiles.tar
valhalla/test/data
valhalla/*.osm.pbf
swap.swap